modules/SP2007PnP/Source/PartnerPortal/Contoso.PartnerPortal.IntegrationTests/Service References/ProductCatalogProxy/ProductCatalog3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Contoso.LOB.Services/2009/01" elementFormDefault="qualified" targetNamespace="http://Contoso.LOB.Services/2009/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erwinvd-win7rc.redmond.corp.microsoft.com:8585/Contoso.LOB.Services/ProductCatalog.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://erwinvd-win7rc.redmond.corp.microsoft.com:8585/Contoso.LOB.Services/ProductCatalog.svc?xsd=xsd3" namespace="http://Contoso.LOB.Services/2009/01/BusinessEntities" />
  <xs:element name="GetProductSkus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSkusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductSkusResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBySku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBySkuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetProductBySkuResult" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetProductsByCategoryResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetProductsResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetCategoryByIdResult" nillable="true" type="q5:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q6:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildCategoriesByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildCategoriesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetChildCategoriesByCategoryResult" nillable="true" type="q7:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartsByProductSku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productSku" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartsByProductSkuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://Contoso.LOB.Services/2009/01/BusinessEntities" minOccurs="0" name="GetPartsByProductSkuResult" nillable="true" type="q8:ArrayOfPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>