modules/SP2007PnP/Source/PartnerPortal/Contoso.LOB.Services.Client/Service References/PricingProxy/Pricing2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Contoso.LOB.Services/2009/01/BusinessEntities" elementFormDefault="qualified" targetNamespace="http://Contoso.LOB.Services/2009/01/BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSku" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:complexType name="Discount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSku" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Discount" nillable="true" type="tns:Discount" />
  <xs:complexType name="ArrayOfDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Discount" nillable="true" type="tns:Discount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscount" nillable="true" type="tns:ArrayOfDiscount" />
</xs:schema>