modules/SP2007PnP/Source/PartnerPortal/Contoso.LOB.Web/Service References/Contoso.PartnerPortal.Services.IncidentSite/IncidentSite1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Contoso.PartnerPortal.Services/2009/01" elementFormDefault="qualified" targetNamespace="http://Contoso.PartnerPortal.Services/2009/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateIncidentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incidentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIncidentStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>