modules/SP2007PnP/Source/PartnerPortal/Contoso.LOB.Web/Service References/Contoso.LOB.Services.IncidentManagement/IncidentManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Contoso.LOB.Services/2009/01" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Contoso.LOB.Services/2009/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Contoso.LOB.Services/2009/01/Imports">
      <xsd:import schemaLocation="http://chacho-spgdev.redmond.corp.microsoft.com:8585/Contoso.LOB.Services/IncidentManagement.svc?xsd=xsd0" namespace="http://Contoso.LOB.Services/2009/01" />
      <xsd:import schemaLocation="http://chacho-spgdev.redmond.corp.microsoft.com:8585/Contoso.LOB.Services/IncidentManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://chacho-spgdev.redmond.corp.microsoft.com:8585/Contoso.LOB.Services/IncidentManagement.svc?xsd=xsd2" namespace="http://Contoso.LOB.Services/2009/01/BusinessEntities" />
      <xsd:import schemaLocation="http://chacho-spgdev.redmond.corp.microsoft.com:8585/Contoso.LOB.Services/IncidentManagement.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIncidentManagement_GetIncident_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncident" />
  </wsdl:message>
  <wsdl:message name="IIncidentManagement_GetIncident_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentManagement_WriteToHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToHistory" />
  </wsdl:message>
  <wsdl:message name="IIncidentManagement_WriteToHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentManagement_GetAllIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentManagement_GetAllIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIncidentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIncidentManagement">
    <wsdl:operation name="GetIncident">
      <wsdl:input wsaw:Action="http://Contoso.LOB.Services/2009/01/IIncidentManagement/GetIncident" message="tns:IIncidentManagement_GetIncident_InputMessage" />
      <wsdl:output wsaw:Action="http://Contoso.LOB.Services/2009/01/IIncidentManagement/GetIncidentResponse" message="tns:IIncidentManagement_GetIncident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToHistory">
      <wsdl:input wsaw:Action="http://Contoso.LOB.Services/2009/01/IIncidentManagement/WriteToHistory" message="tns:IIncidentManagement_WriteToHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://Contoso.LOB.Services/2009/01/IIncidentManagement/WriteToHistoryResponse" message="tns:IIncidentManagement_WriteToHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIncidents">
      <wsdl:input wsaw:Action="http://Contoso.LOB.Services/2009/01/IIncidentManagement/GetAllIncidents" message="tns:IIncidentManagement_GetAllIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://Contoso.LOB.Services/2009/01/IIncidentManagement/GetAllIncidentsResponse" message="tns:IIncidentManagement_GetAllIncidents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>